@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 600;
  color: rgb(80, 80, 80);
  letter-spacing: 1px;
}

body {
  -webkit-user-select: none;
  user-select: none;
  padding: 1rem;
  padding-top: 6rem;
  background-color: whitesmoke;
}

.top-info {
  z-index: 1;
  padding-block: 0.5rem;
  background-color: whitesmoke;
  position: fixed;
  top: 0.5rem;
  left: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transition: 0.3s;
}

.new-grid-button,
.go-button,
.scale {
  transition: 0.2s;
}

.go-button:active,
.new-grid-button:active,
.scale:active {
  transform: scale(0.8);
}

.select {
  background-color: whitesmoke;
  cursor: pointer;
}

.bottom-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.grid {
  display: grid;
  gap: 0.1rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(114, 114, 114);
  transition: 0.3s;
}

.scale {
  display: none;
  cursor: pointer;
}

.bottom-info {
  margin-top: 0.25rem;
  margin-bottom: 4rem;
}

.how-to-play {
  font-weight: normal;
  line-height: 1.75rem;
  cursor: pointer;
  letter-spacing: 1px;
}

@media (min-width: 500px) {
  .scale {
    display: inline-flex;
  }
}

@media (min-width: 960px) {
  body {
    padding: 6rem 3rem 3rem 3rem;
  }
}
