@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .width-vh {
    width: 95vh;
  }
}

body {
  /* position: fixed; */
  overscroll-behavior-y: none;
  /* touch-action: manipulation; */
  /* overflow: hidden; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
